---
title: Inbox
---
extends /source/layouts/index.pug

block content
  table.shortcuts-table
    tbody.group
      tr
        th
        th.group-title Everywhere
      tr.shortcut
        td.keystroke <span>c</span>
        td.description Compose
      tr.shortcut
        td.keystroke <span>/</span>
        td.description Search
      tr.shortcut
        td.keystroke <span>i</span>
        td.description Go to inbox
      tr.shortcut
        td.keystroke <span>q</span>
        td.description Open Hangouts and focus the search box
      tr.shortcut
        td.keystroke <span>h</span>
        td.description Open Hangouts and focus the conversation list
      tr.shortcut
        td.keystroke <span>t</span>
        td.description Create reminder
      tr.shortcut
        td.keystroke <span>b</span>
        td.description Focus on notification
      tr.shortcut
        td.keystroke <span>m</span>
        td.description Open main menu
      tr.shortcut
        td.keystroke <span>z</span>
        td.description Undo last action
    tbody.group
      tr
        th
        th.group-title List navigation
      tr.shortcut
        td.keystroke <span>o</span>
        td.description Open
      tr.shortcut
        td.keystroke <span>u</span>
        td.description Close
      tr.shortcut
        td.keystroke <span>→</span>
        td.description Next item
      tr.shortcut
        td.keystroke <span>←</span>
        td.description Previous item
      tr.shortcut
        td.keystroke <span>Home</span>
        td.description First item
      tr.shortcut
        td.keystroke <span>n</span>
        td.description Next message
      tr.shortcut
        td.keystroke <span>p</span>
        td.description Previous message
    tbody.group
      tr
        th
        th.group-title Focused item
      tr.shortcut
        td.keystroke <span>y</span>
        td.description Mark as Done
      tr.shortcut
        td.keystroke <span>[</span>
        td.description Mark as Done and advance
      tr.shortcut
        td.keystroke <span>s</span>
        td.description Snooze
      tr.shortcut
        td.keystroke <span>p</span>
        td.description Pin
      tr.shortcut
        td.keystroke <span>a</span>
        td.description Reply all
      tr.shortcut
        td.keystroke <span>a</span>
        td.description Reply all in a new window
      tr.shortcut
        td.keystroke <span>r</span>
        td.description Reply
      tr.shortcut
        td.keystroke <span>r</span>
        td.description Reply in a new window
      tr.shortcut
        td.keystroke <span>f</span>
        td.description Forward
      tr.shortcut
        td.keystroke <span>#</span>
        td.description Bin
      tr.shortcut
        td.keystroke <span>!</span>
        td.description Report as spam
      tr.shortcut
        td.keystroke <span>m</span>
        td.description Mute
      tr.shortcut
        td.keystroke <span>.</span>
        td.description Toggle move-to menu
      tr.shortcut
        td.keystroke <span>x</span>
        td.description Select
      tr.shortcut
        td.keystroke <span>x</span>
        td.description Select many items at once
    tbody.group
      tr
        th
        th.group-title Chat and Compose
      tr.shortcut
        td.keystroke <span>Esc</span>
        td.description Focus latest chat or compose
      tr.shortcut
        td.keystroke <span>Esc</span>
        td.description Focus main window (while in chat or compose mode)
      tr.shortcut
        td.keystroke <span>.</span>
        td.description Advance to next chat or compose mode
      tr.shortcut
        td.keystroke <span>,</span>
        td.description Advance to previous chat or compose mode
      tr.separatord
      tr.shortcut
        td.keystroke <span>b</span>
        td.description Bold
      tr.shortcut
        td.keystroke <span>i</span>
        td.description Italics
      tr.shortcut
        td.keystroke <span>u</span>
        td.description Underline
      tr.shortcut
        td.keystroke <span>k</span>
        td.description Insert link
      tr.shortcut
        td.keystroke <span>7</span>
        td.description Numbered list
      tr.shortcut
        td.keystroke <span>8</span>
        td.description Bulleted list
      tr.shortcut
        td.keystroke <span>\</span>
        td.description Remove formatting
      tr.shortcut
        td.keystroke <span>Enter</span>
        td.description Send
      tr.shortcut
        td.keystroke <span>Esc</span>
        td.description Closes Compose and deletes empty drafts
