---
title: Trello
---
extends /source/layouts/index.pug

block content
  table.shortcuts-table
    tbody.group
      tr
        th
        th.group-title Navigation
      tr.shortcut
        td.keystroke <span>←</span>
        td.description Left
      tr.shortcut
        td.keystroke <span>↓</span><span>J</span>
        td.description Down
      tr.shortcut
        td.keystroke <span>↑</span><span>K</span>
        td.description Up
      tr.shortcut
        td.keystroke <span>→</span>
        td.description Right
      tr.shortcut
        td.keystroke <span>B</span>
        td.description Open header boards menu
      tr.shortcut
        td.keystroke <span>/</span>
        td.description Focus search box
      tr.shortcut
        td.keystroke <span>Q</span>
        td.description Toggle the "cards assigned to me" filter
      tr.shortcut
        td.keystroke <span>W</span>
        td.description Toggle the board menu
      tr.shortcut
        td.keystroke <span>X</span>
        td.description Clear all active filters
      tr.shortcut
        td.keystroke <span>?</span>
        td.description Open shortcuts page
    tbody.group
      tr
        th
        th.group-title Cards
      tr.shortcut
        td.keystroke <span>C</span>
        td.description Archive card
      tr.shortcut
        td.keystroke <span>D</span>
        td.description Due date
      tr.shortcut
        td.keystroke <span>E</span>
        td.description Quick edit mode
      tr.shortcut
        td.keystroke <span>Esc</span>
        td.description Close menu / Cancel editing
      tr.shortcut
        td.keystroke <span>⌘</span> + <span>Enter</span>
        td.description Save text
      tr.shortcut
        td.keystroke <span>Enter</span>
        td.description Open card
      tr.shortcut
        td.keystroke <span>F</span>
        td.description Open filter menu
      tr.shortcut
        td.keystroke <span>L</span>
        td.description Open label menu
      tr.shortcut
        td.keystroke <span>M</span>
        td.description Add / remove members
      tr.shortcut
        td.keystroke <span>N</span>
        td.description Insert new card
      tr.shortcut
        td.keystroke <span>&gt;</span>
        td.description Move card to next list
      tr.shortcut
        td.keystroke <span>&lt;</span>
        td.description Move card to previous list
      tr.shortcut
        td.keystroke <span>S</span>
        td.description Subscribe / unsubscribe
      tr.shortcut
        td.keystroke <span>Space</span>
        td.description Assign yourself
      tr.shortcut
        td.keystroke <span>T</span>
        td.description Edit title
      tr.shortcut
        td.keystroke <span>V</span>
        td.description Vote
    tbody.group
      tr
        th
        th.group-title Labels
      tr.shortcut
        td.keystroke <span>1</span>
        td.description Green
      tr.shortcut
        td.keystroke <span>2</span>
        td.description Yellow
      tr.shortcut
        td.keystroke <span>3</span>
        td.description Orange
      tr.shortcut
        td.keystroke <span>4</span>
        td.description Red
      tr.shortcut
        td.keystroke <span>5</span>
        td.description Purple
      tr.shortcut
        td.keystroke <span>6</span>
        td.description Blue
      tr.shortcut
        td.keystroke <span>7</span>
        td.description Sky
      tr.shortcut
        td.keystroke <span>8</span>
        td.description Lime
      tr.shortcut
        td.keystroke <span>9</span>
        td.description Pink
      tr.shortcut
        td.keystroke <span>0</span>
        td.description Black
    tbody.group
      tr
        th
        th.group-title Inputs
      tr.shortcut
        td.keystroke <span>@</span>
        td.description Autocomplete members
      tr.shortcut
        td.keystroke <span>#</span>
        td.description Autocomplete labels
      tr.shortcut
        td.keystroke <span>^</span>
        td.description Autocomplete position
